@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body
{
    min-height: 100vh;
    padding: 20px;
    background: #091921;
}

/* section */
section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* heading 1 */
h1
{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px auto 30px;
    color: #fff;
}

/* heading 2 */
h2
{
    position: absolute;
    z-index: 11;
    color: #fff;
}

h2:nth-child(1)
{
    font-weight: 700;
    background: rgba(255, 255, 255, 0.05);
    text-align: center;
    padding: 5px 8px;
    font-size: 25px;
    left: 17%;
    top: -10%;
}

h2:nth-child(3)
{
    right: 16%;
    top: -10%;
    text-align: center;
    font-weight: 300;
    padding: 5px 8px;
    font-size: 25px;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                    inset 0 -15px 15px rgba(255,255,255,0.05),
                    0 15px 15px rgba(0,0,0,0.7),
                    inset 0 15px 15px rgba(0,0,0,0.4);;
}
.wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* clock 01 */
.wrapper .container-01
{
    position: relative;
    width: 50%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #091921;
}

.wrapper .container-01::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#e91e63, #ffc187);
    clip-path: circle(22% at 28% 15%);
}

.wrapper .container-01::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff, #da00ff);
    clip-path: circle(22% at 78% 80%);
}

.wrapper .container-01 .clock
{
    width: 350px;
    height:350px;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border: 4px solid #091921;
    border-radius: 50%;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.wrapper .container-01 .clock::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 10;
}

/* hands of min sec hour */
.wrapper .container-01 .clock .hour,
.wrapper .container-01 .clock .min,
.wrapper .container-01 .clock .sec {
    position: absolute;
}	

.wrapper .container-01 .clock .hour, .hr
{
    width: 160px;
    height: 160px;
}

.wrapper .container-01 .clock .min, .mn 
{
    width: 190px;
    height: 190px;
}

.wrapper .container-01 .sec, .sc 
{
    width: 230px;
    height: 230px;
}

.wrapper .container-01 .clock .hour .hr,
.wrapper .container-01 .clock .min .mn,
.wrapper .container-01 .clock .sec .sc {
    display: flex;
    justify-content:center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

/* hour hand */
.wrapper .container-01 .clock .hour .hr::before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    opacity: 0.8;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}

/* minute hand */
.wrapper .container-01 .clock .min .mn::before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    opacity: 0.8;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

/* second hand */
.wrapper .container-01 .clock .sec .sc::before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #3498db;
    opacity: 0.8;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

/* indicators */
.wrapper .container-01 .clock .indicators
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper  .container-01 .clock .indicators div
{
    position: absolute;
    width: 2px;
    height: 2px;
    background: #404040;
    user-select: none;
    cursor: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}


/* clock numbers */
.wrapper .container-01 .clock .indicators div:nth-child(1)
{
    transform: rotate(30deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(2)
{
    transform: rotate(60deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(3)::before
{
    content: '3';
    font-weight: 700;
    position: absolute;
    transform: rotate(-90deg) translate(-10px, -4px);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.wrapper .container-01 .clock .indicators div:nth-child(3)
{
    background: #3498db;
    transform: rotate(9deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(4){
    transform: rotate(120deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(5){
    transform: rotate(150deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(6)::before
{
    content: '6';
    font-weight: 700;
    position: absolute;
    transform: rotate(180deg) translate(6px, -10px);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.wrapper .container-01 .clock .indicators div:nth-child(6)
{
    background: #3498db;
    transform: rotate(180deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(7)
{
    transform: rotate(210deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(8)
{
    transform: rotate(240deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(9)::before
{
    content: '9';
    font-weight: 700;
    position: absolute;
    transform: rotate(90deg) translate(8px, 2px);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.wrapper .container-01 .clock .indicators div:nth-child(9)
{
    background: #3498db;
    transform: rotate(270deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(10)
{
    transform: rotate(300deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(11)
{
    transform: rotate(330deg) translateY(-150px);
}

.wrapper .container-01 .clock .indicators div:nth-child(12)::before
{
    content: '12';
    font-weight: 700;
    position: absolute;
    transform: rotate(0deg) translate(-8px, 10px);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

.wrapper .container-01 .clock .indicators div:nth-child(12)
{
    background: #3498db;
    opacity: 0.5;
    transform: rotate(360deg) translateY(-150px);
}

.wrapper .container-01 p
{
    z-index: 12;
    margin: 20px auto 10px;
    position: relative;
    color: #fff;
    
}
